<ng-container *ngIf="$any(bcservices.breadcrumbs$ |async) as breadcrumbs">
    <section *ngIf="breadcrumbs[breadcrumbs.length-1].lable != 'Home'" class="py-5 md-3" style="margin-top: 150px; background-color: #f5f5f5;">
        <div class="container">
            <div class="d-flex row align-items-center">
                <div class="col-9"> 
                    <h2>{{breadcrumbs[breadcrumbs.length-1].lable |titlecase}}</h2>
                </div>
                <div class="col-3">
                   <xng-breadcrumb>
                       <ng-container *ngBreadcrumbItem="let breadcrumb">
                              {{breadcrumb | titlecase}}
                       </ng-container>
                   </xng-breadcrumb>
                  
                  
                </div>
            </div>
        </div>
    </section>
</ng-container>
<!-- <nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Library</li>
    </ol>
</nav> -->