.cart-no{
  position: relative;
  min-height: 20px;
  min-width: 20px;
  border-radius: 50%;
  color: white;
  background: blue;
  text-align: center;
  top:-12px;
  right: 32px;
}
  
a{
  text-decoration: none;
  color: #343a03;
}
a.active{
  color:orange;
  
}
